@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 200%;
    overflow-x: scroll;
    position: relative;
    font-family: Hina Mincho, Arial, Helvetica, sans-serif;
}

img {
    height: 100%;
}

/* Welcome */

#welcome-message {
    padding: 5em 4em;
    max-width: 20ch;
    border: 2px solid #000000;
    background-image: linear-gradient(45deg, rgb(71, 71, 71), rgb(44, 44, 44));
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    z-index: 999999;
}

#welcome-message button {
    top: 50px;
    right: 20px;
    color: #FFFFFF;
}

/* Scroll */

#left-scroll, #right-scroll {
    background-color: rgba(77, 77, 77, 0.5);
    border: 2px solid rgba(77, 77, 77, 0.8);
    position: fixed;
    text-align: center;
    padding: 15em 0;
    width: 5em;
    top: 47%;
    transform: translate(0, -50%);
    color: #FFFFFF;
    z-index: 100000;
}

#left-scroll {
    left: 10px;
}

#right-scroll {
    right: 10px;
}

/* Location card and locator */

.locator {
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(77, 77, 77, 0.5);
    border-radius: 50%;
    position: absolute;
    transition: all 500ms ease-in-out;
    color: transparent;
}

.locator:hover {
    transition: all 500ms ease-in-out;
    transform: scale(1.1);
    background-color: rgba(201, 85, 85, 0.5);
    border: 2px solid rgba(170, 0, 0, 0.5);
}

.location {
    visibility: hidden;
    min-width: 25ch;
    max-width: 25ch;
    background-color: rgb(170, 139, 80);
    border: 5px solid rgb(73, 60, 34);
    box-shadow: 0 0 15px #000000, inset 0 0 10px #000000;
    text-shadow: 0 0 30px #000000;
    border-radius: 10px;
    padding: 40px 20px;
    position: absolute;
    z-index: 100;
}

.location h2, .location ul li {
    text-transform: capitalize;
}

h3 {
    font-size: inherit;
    font-weight: inherit;
    text-transform: lowercase;
    padding: 0;
    margin: 0;
}

p {
    padding-bottom: 20px;
}

.location .travel, .close {
    position: absolute;
    right: 20px;
    background: transparent;
    border: unset;
    font-weight: 600;
    font-size: 1.5em;
}

.travel {
    bottom: 10px;
}

.link {
    color: #000000;
    visibility: hidden;
    position: absolute;
    bottom: 15px;
}

.link:hover {
    color: #b40000;
}

.btn {
    padding: 10px;
    text-shadow: 0 0 30px #000000;
}

.hover {
    cursor: pointer;
}

/* Locations and locators */

#kings-landing-locator { 
    top: 870px;
    left: 775px;
}

#kings-landing {
    top: 500px;
    left: 670px;
}

#winterfell-locator {
    top: 305px;
    left: 625px;
}

#winterfell {
    top: 100px;
    left: 700px;;
}

#eyrie-locator {
    top: 670px;
    left: 793px;
}

#eyrie {
    top: 290px;
    left: 780px;
}

#castle-black-locator {
    top: 85px;
    left: 720px;
}

#castle-black {
    top: 75px;
    left: 800px;
}

#iron-islands-locator {
    top: 665px;
    left: 395px;
}

#iron-islands {
    top: 550px;
    left: 100px;
}

#the-twins-locator {
    top: 610px;
    left: 598px;
}

#the-twins {
    top: 350px;
    left: 300px;
}

#casterly-rock-locator { 
    top: 830px;
    left: 425px;
}

#casterly-rock {
    top: 700px;
    left: 100px;
}

#pentos-locator { 
    top: 880px;
    left: 1068px;
}

#pentos {
    top: 800px;
    left: 1150px;
}

#braavos-locator { 
    top: 595px;
    left: 1065px;
}

#braavos {
    top: 200px;
    left: 1150px;
}

#volantis-locator { 
    top: 1240px;
    left: 1340px;
}

#volantis {
    top: 900px;
    left: 1430px;
}

#valyria-locator { 
    top: 1468px;
    left: 1547px;
}

#valyria {
    top: 950px;
    left: 1400px;
}

#qarth-locator { 
    top: 1373px;
    left: 2406px;
}

#qarth {
    top: 925px;
    left: 2000px;
}

#dorne-locator { 
    top: 1196px;
    left: 662px;
}

#dorne {
    top: 810px;
    left: 250px;
}

#meereen-locator { 
    top: 1120px;
    left: 1896px;
}

#meereen {
    top: 850px;
    left: 1500px;
}

#vaes-dothrak-locator { 
    top: 764px;
    left: 2174px;
}

#vaes-dothrak {
    top: 600px;
    left: 1800px;
}

/* Completion */

#complete {
    visibility: hidden;
    background-color: rgb(172, 134, 64);
    border: 2px solid #000000;
    box-shadow: 0 0 30px #b3b3b3;
    text-shadow: 0 0 30px #000000;
    text-align: center;
    position: fixed;
    padding: 20px 40px;
    max-width: 30ch;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999999;
}

#complete p {
    padding-bottom: unset;
}

#complete #closeEndCard {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 400;
    font-size: 16px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(71, 71, 71);
    color: #FFFFFF;
    text-align: center;
    z-index: 100000;
}

footer div {
    display: inline-block;
    outline: 1px solid #FFFFFF;
    width: 50%;
    height: 100%;
    padding-top: 15px;
}

#current-location {
    float: left;
    text-transform: capitalize;
}

#distance-travelled {
    float: right;
}

@media screen and (max-width: 1000px) {
    #left-scroll, #right-scroll {
        visibility: hidden;
    }
}

@media screen and (max-width: 465px) {
    footer {
        height: 70px;
    }
}