@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 200%;
    /* border: 1px solid red; */
    overflow-x: scroll;
    position: relative;
    font-family: Hina Mincho, Arial, Helvetica, sans-serif;
    
}

img {
    height: 100%;
}

/* Location card and locator */

.locator {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(77, 77, 77, 0.5);
    border-radius: 50%;
    position: absolute;
}

.location {
    visibility: hidden;
    height: 20em;
    width: 15em;
    background-color: rgb(170, 139, 80);
    border: 5px solid rgb(73, 60, 34) ;
    box-shadow: 0 0 15px #000000, inset 0 0 10px #000000;
    text-shadow: 0 0 30px #000000;
    border-radius: 5%;
    padding: 40px 20px;
    position: absolute;
    z-index: 100;
}

.location h2 {
    text-transform: capitalize;
}

.location .travel, .close {
    position: absolute;
    right: 20px;
    background: transparent;
    border: unset;
    font-weight: 600;
    font-size: 1.5em;
}

.btn {
    text-shadow: 0 0 30px #000000;
}

.hover {
    cursor: pointer;
}

/* Locations */

#kings-landing-locator { 
    left: 775px;
    top: 870px;
}

#kings-landing {
    left: 670px;
    top: 500px;
}

#winterfell-locator {
    top: 300px;
    left: 620px;
}

#winterfell {
    top: 100px;
    left: 700px;;
}

#eyrie-locator {
    left: 780px;
    top: 660px;
}

#eyrie {
    left: 780px;
    top: 290px;
}

#castle-black-locator {
    left: 715px;
    top: 75px;
}

#castle-black {
    left: 800px;
    top: 75px;
}

#iron-islands-locator {
    left: 400px;
    top: 660px;
}

#iron-islands {
    left: 100px;
    top: 550px;
}

#the-twins-locator {
    left: 590px;
    top: 610px;
}

#the-twins {
    left: 300px;
    top: 350px;
}

#casterly-rock-locator { 
    left: 425px;
    top: 825px;
}

#casterly-rock {
    left: 100px;
    top: 700px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: center;
    z-index: 100000;
}

footer div {
    display: inline-block;
    outline: 1px solid white;
    width: 50%;
    height: 100%;
    padding-top: 15px;
}

#current-location {
    float: left;
    text-transform: capitalize;
}

#distance-travelled {
    float: right;
}