html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 200%;
    /* border: 1px solid red; */
    overflow-x: scroll;
    
}

img {
    height: 100%;
}

img::-webkit-scrollbar {
    width: 0px;
}

